<div>
    <h2 data-translate="ecommerceApp.personal.home.title">Personals</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="personal.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="ecommerceApp.personal.home.createLabel">
                        Create new Personal
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paterno"><span data-translate="ecommerceApp.personal.paterno">Paterno</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="materno"><span data-translate="ecommerceApp.personal.materno">Materno</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombres"><span data-translate="ecommerceApp.personal.nombres">Nombres</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroDocumento"><span data-translate="ecommerceApp.personal.numeroDocumento">Numero Documento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="ecommerceApp.personal.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="area.id"><span data-translate="ecommerceApp.personal.area">Area</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cargo.id"><span data-translate="ecommerceApp.personal.cargo">Cargo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="personal in vm.personals track by personal.id">
                    <td><a ui-sref="personal-detail({id:personal.id})">{{personal.id}}</a></td>
                    <td>{{personal.paterno}}</td>
                    <td>{{personal.materno}}</td>
                    <td>{{personal.nombres}}</td>
                    <td>{{personal.numeroDocumento}}</td>
                    <td>{{personal.email}}</td>
                    <td>
                        <a ui-sref="area-detail({id:personal.area.id})">{{personal.area.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="cargo-detail({id:personal.cargo.id})">{{personal.cargo.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="personal-detail({id:personal.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="personal.edit({id:personal.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="personal.delete({id:personal.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
