
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUbigeoLabel" data-translate="ecommerceApp.ubigeo.home.createOrEditLabel">Create or edit a Ubigeo</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ubigeo.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ubigeo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ecommerceApp.ubigeo.codigo" for="field_codigo">Codigo</label>
            <input type="text" class="form-control" name="codigo" id="field_codigo"
                    ng-model="vm.ubigeo.codigo"
                    required/>
            <div ng-show="editForm.codigo.$invalid">
                <p class="help-block"
                    ng-show="editForm.codigo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ecommerceApp.ubigeo.departamento" for="field_departamento">Departamento</label>
            <input type="text" class="form-control" name="departamento" id="field_departamento"
                    ng-model="vm.ubigeo.departamento"
                    required/>
            <div ng-show="editForm.departamento.$invalid">
                <p class="help-block"
                    ng-show="editForm.departamento.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ecommerceApp.ubigeo.provincia" for="field_provincia">Provincia</label>
            <input type="text" class="form-control" name="provincia" id="field_provincia"
                    ng-model="vm.ubigeo.provincia"
                    required/>
            <div ng-show="editForm.provincia.$invalid">
                <p class="help-block"
                    ng-show="editForm.provincia.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ecommerceApp.ubigeo.distrito" for="field_distrito">Distrito</label>
            <input type="text" class="form-control" name="distrito" id="field_distrito"
                    ng-model="vm.ubigeo.distrito"
                    required/>
            <div ng-show="editForm.distrito.$invalid">
                <p class="help-block"
                    ng-show="editForm.distrito.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
