
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInventarioLabel" data-translate="ecommerceApp.inventario.home.createOrEditLabel">Create or edit a Inventario</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.inventario.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.inventario.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ecommerceApp.inventario.stock" for="field_stock">Stock</label>
            <input type="number" class="form-control" name="stock" id="field_stock"
                    ng-model="vm.inventario.stock"
                    required/>
            <div ng-show="editForm.stock.$invalid">
                <p class="help-block"
                    ng-show="editForm.stock.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.stock.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="ecommerceApp.inventario.almacen" for="field_almacen">Almacen</label>
            <select class="form-control" id="field_almacen" name="almacen" ng-model="vm.inventario.almacen" ng-options="almacen as almacen.id for almacen in vm.almacens track by almacen.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="ecommerceApp.inventario.producto" for="field_producto">Producto</label>
            <select class="form-control" id="field_producto" name="producto" ng-model="vm.inventario.producto" ng-options="producto as producto.id for producto in vm.productos track by producto.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
